<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataCollector.Client.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <userSettings>
    <DataCollector.Client.UI.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CollectorServiceHost" serializeAs="String">
        <value>http://localhost:57412/MeasureCollectorService.svc</value>
      </setting>
      <setting name="DataAccessHost" serializeAs="String">
        <value>http://localhost:57412/MeasureAccessService.svc</value>
      </setting>
      <setting name="DeviceCommunicationHost" serializeAs="String">
        <value>http://localhost:57412/WebCommunicationService.svc</value>
      </setting>
      <setting name="UsersHost" serializeAs="String">
        <value>http://localhost:57412/UsersManagementService.svc</value>
      </setting>
    </DataCollector.Client.UI.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMeasureCollectorService" />
        <binding name="BasicHttpBinding_IMeasureAccessService" />
        <binding name="BasicHttpBinding_IUsersManagementService" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ICommunicationService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57412/MeasureCollectorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeasureCollectorService" contract="Collector.IMeasureCollectorService" name="BasicHttpBinding_IMeasureCollectorService" />
      <endpoint address="http://localhost:57412/MeasureAccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeasureAccessService" contract="DataAccess.IMeasureAccessService" name="BasicHttpBinding_IMeasureAccessService" />
      <endpoint address="http://localhost:57412/WebCommunicationService.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICommunicationService" contract="DeviceCommunication.ICommunicationService" name="WSDualHttpBinding_ICommunicationService">
        <identity>
          <servicePrincipalName value="host/Thinkpad-DP.lis.local" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:57412/UsersManagementService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsersManagementService" contract="Users.IUsersManagementService" name="BasicHttpBinding_IUsersManagementService" />
    </client>
  </system.serviceModel>
</configuration>
