<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DeviceCommunicationPort" value="43056" />
    <add key="CleanupCacheInterval" value="10" />
    <add key="GetMeasurementsRequest" value="/api/measurements" />
    <add key="LedChangeRequest" value="/api/ledState?p={0}" />
    <add key="LedStateRequest" value="/api/getLedState" />
    <add key="ConnectionString" value="Server=THINKPAD-DP;Database=DataCollectorDb;User Id=GoBabyGo;Password=comeback;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
     <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMeasureCollectorService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IMeasureAccessService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUsersManagementService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ICommunicationService" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000">
          <readerQuotas maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="DataCollector.Server.WebCommunicationService">
        <endpoint bindingConfiguration="WSDualHttpBinding_ICommunicationService" address="" binding="wsDualHttpBinding" contract="DataCollector.Server.Interfaces.Communication.ICommunicationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="DataCollector.Server.UsersManagementService">
        <endpoint bindingConfiguration="BasicHttpBinding_IUsersManagementService" address="" binding="basicHttpBinding" contract="DataCollector.Server.Interfaces.Data.IUsersManagementService" />
      </service>
      <service name="DataCollector.Server.MeasureCollectorService">
        <endpoint bindingConfiguration="BasicHttpBinding_IMeasureCollectorService" address="" binding="basicHttpBinding" contract="DataCollector.Server.Interfaces.Data.IMeasureCollectorService" />
      </service>
      <service name="DataCollector.Server.MeasureAccessService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeasureAccessService" contract="DataCollector.Server.Interfaces.Data.IMeasureAccessService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>